<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/entry_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Entries Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center hero-unit">
  <h1>Welcome to My Blog</h1>

  <h2>
    This is the blog for the
      <a href="http://framgia.com/vn/">Framgia VietNam</a>
  in Demo Application
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>